
__pycache__/
__pypackages__/
._*
.~lock.*
.cache
.claude/
.coverage
.coverage.*
.dmypy.json
.DS_Store
.DS_Store?
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.tox/
.Trashes
.venv
.vscode/
.webassets-cache
*.cover
*.egg
*.egg-info/
*.local
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.so
*.spec
*.temp
*.tmp
*$py.class
/media/
/site
/static/
/staticfiles/
build/
celerybeat-schedule
celerybeat.pid
CLAUDE.md
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
desktop.ini
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
ehthumbs.db
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
Thumbs.db
var/
venv.bak/
venv/
wheels/
.bash_history
.lesshst
.ssh/
.python_history
